*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#list-container {
  max-width: calc(600px + 2.5em);
  margin: 0 auto;
  border-radius: 1em;
  box-shadow: 0 0 20px lightgray;
  padding: .75em;
}